h1 {
  padding-left: 30px;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0;
}

.Container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.Container > div {
  padding: 15px 30px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 30px;
  margin-top: 30px;
}

.Container > div > h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}
